﻿@model assignment_7.Models.StudentReg;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3><b>Registration Form</b></h3><br>
        <style>
            table{
                border: 2px solid black;
                padding: 3px;
            }
        </style>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        
        { 
        
            <tr>
                <td><b>First Name</b></td>
                <td >@Html.TextBox("FirstName")
                </td>
            </tr>
            
            <tr>
                <td><b>Middle Name</b>
                <td>@Html.TextBox("MidName")
                </td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>@Html.TextBox("LastName")
                </td>
            </tr>
            <tr>
                <td><b>Age</b></td>
                <td>@Html.TextBox("Age")
                </td>
            </tr>
            <tr>
                  <tr>
                <td><b>Sex</b></td>
                <td>@Html.DropDownList("Gender", new List<SelectListItem>
                {
                    new SelectListItem { Text = "Male", Value = "Male", Selected=true},                  
                    new SelectListItem { Text = "Female", Value = "Female"},
                    
                }, "Select Sex")
                </td>
            </tr>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td>@Html.TextBox("Address")
                </td>
            </tr>
        
            
        <br /><br />
        <input type="submit" value="Submit"  />
        }
        <h4 style="color:black">
            
        </h4>


</div>
