<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">

  
   

  

     <style>
	 
			body {
			  margin: 0;
			  height: 100vh;
			  display: flex;
			  font-size: 10px;
			  align-items: flex-end;
			  justify-content: center;
			  background-color: #2f2f31;
			}

			#calculator {
			  width: 100%;
			  margin: 0 auto;
			  display: flex;
			  max-width: 320px;
			  min-width: 320px;
			  flex-direction: column;
			  background-color: #2f2f31;
			}
			#calculator .calculator-logs {
			  height: 80px;
			  display: flex;
			  position: relative;
			  overflow: hidden;
			  align-items: flex-end;
			  flex-direction: column;
			  justify-content: flex-end;
			}
			#calculator .calculator-logs:before {
			  top: 0;
			  left: 0;
			  right: 0;
			  height: 48px;
			  content: '';
			  z-index: 5;
			  position: absolute;
			  background: linear-gradient(to bottom, #2f2f31, rgba(47, 47, 49, 0));
			}
			#calculator .calculator-logs span {
			  color: #D4D4D2;
			  opacity: .75;
			  display: block;
			  font-size: .8rem;
			  text-align: right;
			  margin-top: .4rem;
			  line-height: 1;
			  font-weight: lighter;
			}
			#calculator .calculator-input {
			  color: #D4D4D2;
			  width: 100%;
			  border: none;
			  padding: .8rem;
			  display: block;
			  font-size: 2.4rem;
			  background: none;
			  text-align: right;
			  font-weight: lighter;
			}
			#calculator .calculator-input:focus, #calculator .calculator-input:active {
			  outline: none;
			}
			#calculator .calculator-row {
			  display: flex;
			  padding: 0;
			  justify-content: space-around;
			}
			#calculator .calculator-row .calculator-col {
			  flex: 1;
			  box-shadow: 0 0 0 1px #2f2f31;
			}
			#calculator .calculator-row .calculator-col.wide {
			  flex: 2;
			}
			#calculator .calculator-btn {
			  width: 100%;
			  color: #D4D4D2;
			  border: none;
			  cursor: pointer;
			  padding: .8rem;
			  outline: none;
			  font-size: 1.6rem;
			  transition: all .3s ease-in-out;
			  font-weight: 200;
			  justify-content: center;
			  background-color: #616163;
			}
			#calculator .calculator-btn.accent {
			  background-color: #f49e3f;
			  color: #fff;
			}
			#calculator .calculator-btn.gray {
			  background-color: #424345;
			}

	 </style>

  
</head>

<body>



<div id="calculator">

  <div class="calculator-logs">
    <span v-for="log in logs">{{ log }}</span>
  </div>

  <input type="string" class="calculator-input" v-model="value" @keyup.enter="getResult()">

  
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(7)">7</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(8)">8</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(9)">9</button>
    </div>
	<div class="calculator-col">
      <button class="calculator-btn gray action" @click="clear()">C</button>
	  
    </div>
	<div class="calculator-col">
      <button class="calculator-btn gray action" @click="del()">CE</button>
    </div>
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(4)">4</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(5)">5</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(6)">6</button>
    </div>
	<div class="calculator-col">
      <button class="calculator-btn accent action" @click="Components('/')">/</button>
	  
    </div>
	<div class="calculator-col">
      <button class="calculator-btn accent action" @click="Components('*')">*</button>
    </div>
    
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(1)">1</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(2)">2</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(3)">3</button>
    </div>
	<div class="calculator-col wide">
      <button class="calculator-btn accent action" @click="Components('-')">-</button>
    </div>
    
  </div>
  <div class="calculator-row">
    <div class="calculator-col">
      <button class="calculator-btn" @click="Components(0)">0</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn action" @click="Components('.')">.</button>
    </div>
    <div class="calculator-col">
      <button class="calculator-btn accent action" @click="getResult()">=</button>
    </div>
	<div class="calculator-col wide">
      <button class="calculator-btn accent action" @click="Components('+')">+</button>
    </div>
  </div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.min.js'></script>

  

  
	<script>
	
		var app= new Vue({
    el: '#calculator',
    data: {
        value: 0,
        logs: []
    },
    methods: {
        Components: function (e) {
            if (Number.isInteger(this.value))
                this.value = '';
            this.value += e;
        },
        getResult: function () {
            var log = this.value;
            this.value = eval(this.value);
            this.logs.push(log + ("=" + this.value));
        },
        clear: function () {
            this.value = 0;
        },
        del: function () {
            this.value = this.value.slice(0, -1);
        }
    }
});
	</script>




</body>

</html>
