﻿
  <div>
    <div class="card-body login-card-body">
      <p class="login-box-msg" align="center">PHONE BOOK LOGGER</p>

      <form method="post" id="testing">
        <div class="input-group mb-3" >
         <input  type="text" align="center" v-model="Name" placeholder="Enter name"class="form-control" >
        </div>

         <div class="input-group mb-3" >
         <input  type="int" align="center" v-model="Contact" placeholder="Enter number"class="form-control">
        </div>
       


        <div class="login-box-msg" align="right">
            <button type="submit" class="btn btn-info" v-on:click="add">Add</button>
        </div>


       
       

            <table style="width:100%">
                <tr >
                    <th>Name</th>
                    <th>Contact number</th>
                    <th>Delete</th>

                </tr>
                <tr v-for="(log,index) in inputs">
                    <td> <input type="text" v-model="log.nameinput"></td>
                    <td> <input type="text" v-model="log.contactinput"></td>
                    <td> <button type="button" class="btn btn-info" v-on:click="delete(index)">X</button></td>
                </tr>
            
            </table>
      </form>

    
     
  

    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
